# Ignore everything in the root
/*
# Un-ignore these files - it's bit of a clonky way to do it but it's more secure
!auctioneer/src/*
!rebar.config
!LICENCE
!README.md
!.gitignore
!auctioneer/config/sys.config.example
!auctioneer/config/vm.args
!_build/prod/rel/auctioneer/*
!docker-compose.yml
!Dockerfile
