{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.9.0"},
    {amqp_client, "3.11.0"},
    {hackney, "1.18.1"},
    {uuid, {git, "https://github.com/okeuday/uuid.git"}},
    {jsx, "3.1.0"},
    {jiffy, "1.1.1"}
]}.
{relx, [{release, {dev, "0.1.0"},
         [auctioneer]},
        {mode, prod},
        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]}.
{shell, [
  % {config, "config/sys.config"},
    {apps, [auctioneer]}
]}.
