[
    {auctioneer, [
	{auctionhouse_url, <<"https://poptape.club/authy/status">>},
      	{authy_url, <<"https://poptape.club/authy/checkaccess/">>},
	{rabbitmq, [ 
	    {host, "localhost"},
	    {user, <<"poptape-auctions">>},
	    {pass, <<"6AuRs4hod2Nux9BNKX3QAw9v">>}
	]},
      	{password, <<"WOOOOO">>}
    ]}
].
