[
    {auctioneer, [
	{auctionhouse_url, <<"https://yourauctionmicroservice.com">>},
      	{authy_url, <<"https://yourauthenticator.com">>},
	{rabbitmq, [ 
	    {host, "localhost"},
	    {user, <<"username">>},
	    {pass, <<"supersecretpass">>}
	    {virtual_host, <<"vhost">>}
	]}
    ]}
].
